@{
  Layout = "_Layout";
}

@model ZineMachine.Models.Zine

<h2>Editing zine <strong>@Html.DisplayFor(model => model.Name)</strong></h2>
<hr>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.HiddenFor(model => model.ZineId)
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {@Class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.User)
    @Html.DropDownList("UserId", ViewBag.UserId, "Select User", new { @class = "form-control form-control-sm" })
  </div>
    <input class="btn btn-light form-group" type="submit" value="Save" />
}
<p class="btn btn-light">@Html.ActionLink("Back to list", "Index")</p>