@{
    Layout = "_Layout";
}

@using Organization.Models;
@model Organization.Models.Employee;

<h2>Employee Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

<ul>
    @if (@Model.Clients.Count == 0)
    {
        <p>no clients found</p>
    }

    @foreach (Client client in @Model.Clients)
    {
        <li>@client.Name</li>
    }
</ul>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Employee", "Edit", new { id = Model.EmployeeId })</p>
<p>@Html.ActionLink("Delete Employee", "Delete", new { id = Model.EmployeeId })</p>