@{
    Layout = "_Layout";
}

@using Organization.Models;
@model Organization.Models.Employee;


<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<h4>Employee Details</h4>
<p>Employee ID Number: @Html.DisplayFor(model => model.EmployeeId)</p>

@if (@Model.Clients.Count == 0)
{
    <h4>No clients yet. @Html.ActionLink("Add a client?", "Create", "Clients")</h4>
}
else 
{
<h4>Clients</h4>
<ul>
    @foreach (Client client in @Model.Clients)
    {
        <li>@client.Name</li>
    }
</ul>
}
<br>
<p class="btn btn-light">@Html.ActionLink("Back to list", "Index")</p>
<p class="btn btn-light">@Html.ActionLink("Edit Employee", "Edit", new { id = Model.EmployeeId })</p>
<p class="btn btn-light">@Html.ActionLink("Delete Employee", "Delete", new { id = Model.EmployeeId })</p>