@{
  Layout = "_Layout";
}

@model Organization.Models.Client

<h2>Add a new task</h2>
<hr>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {@Class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Employee)
    @Html.DropDownList("EmployeeId", ViewBag.EmployeeId, "Select Employee", new { @class = "form-control form-control-sm" })
  </div>
  <input class="btn btn-light form-group" type="submit" value="Add client" />
}
<p class="btn btn-light">@Html.ActionLink("Cancel", "Index")</p>
